 header {
    padding-top: 150px;
    height: 400px;
    width: 100%;
    background-color: #E2F1F8;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media only screen and
 (min-width: 1024px) {
  .header {
    width: 33.3%;
    float: left;
    background-color: #E2F1F8;
  }
}