 nav {
    z-index: 99;
    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: #4056a1;
    color: #ffffff;
    padding: 1.5em;
    font-family: 'Bungee', 'Source Sans 3', sans-serif;
  }