 .new-tweet {
    justify-content: center;
    background-color: #fffdda;
    color: #4e4e4e;
    padding: 1.5em;
    font-family: 'Bungee', 'Source Sans 3', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-tweet form {
  width: 90%;
  margin-top: 20px;
}

.new-tweet textarea {
  background-color: #fffdda;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  resize: none;
  padding: 10px;
  font-size: 16px;
}

.new-tweet .counter {
  float: right;
  color: #545149;
  font-size: 14px;
  margin-top: 5px;
}

.new-tweet .counter.negative {
    color: red;
  }

  .new-tweet button {
    color: #FFFFFF;
    background-color: #4056a1 ;
  }

  