.tweets-container {
    margin-top: 20px;
  }
  
  .tweet {
    justify-content: center;
    background-color: #fffdda;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .tweet:hover {
    box-shadow: 6px 6px #9cd0e0;
  }
  
  .tweet header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .username {
    display: inline;
    font-weight: bold;
  }
  
  .handle {
    display: inline-block;
    position: relative;
    margin-left: 80%;
    color: #b6c7d6;
    font: 100;
    
  }
  
  .tweet footer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #898989
  }
  
  .likes,
  .retweets {
    display: flex;
    align-items: right;
    margin-right: 10px;
  }
  .likes:hover {
    color: #ffe54f;
  }
  .retweets:hover {
    color: #ffe54f;
  }
  .likes i,
  .retweets i {
    margin-right: 5px;
  }
  