.tweets-container {
    
    margin-top: 20px;
  }
  
  .tweet {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .tweet h3 {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .tweet p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .tweet div {
    margin-bottom: 10px;
  }
  
  .tweet footer {
    font-size: 14px;
    color: #888;
  }
  
  .tweet footer p {
    margin-bottom: 3px;
  }
  
  .tweet footer p:last-child {
    margin-bottom: 0;
  }
  